<div class="grid-fluid">
  <div class="nb c12">
    <h6>First name</h6>
    <div class="field field-rounded">
      <input class="field-input" type="text" placeholder="Your name">
    </div>
  </div>
  <div class="nb c12">
    <h6>Last name</h6>
    <div class="field field-rounded">
      <input class="field-input" type="text" placeholder="Your name">
    </div>
  </div>
  <div class="nb c12">
    <div class="field-container">
      <input class="field-checkbox-2" type="checkbox" id="example-checkbox10" checked="">
      <label for="example-checkbox10"></label>
    </div>
    <div class="nb c4">
      <label class="field-label-left">Remember me</label>
    </div>
  </div>
  <div class="nb c12">
    <div class="field-container nb c4">
      <input type="radio" class="field-radio-2" name="columns-set" value="all" id="that" checked="">
      <label for="that" class="finger">Choice 1</label>
    </div>
    <div class="field-container">
      <input type="radio" class="field-radio-2" name="columns-set" value="sing" id="this">
      <label for="this">Choice 2</label>
    </div>
  </div>
  <div class="nb c12">
    <button href="..." class="btn btn-rounded btn-flat-primary">Save</button>
  </div>
</div>
