<div class="wrap">
  <h1>Prototypes</h1>
  <%= link_to 'Multiple Notes', static_pages_multiple_notes_path, class: 'btn btn-flat-primary btn-rounded' %>
  <%= link_to 'Another Prototype', static_pages_another_prototype_path, class: 'btn btn-flat-primary btn-rounded' %>
</div>
