<div class="timesheets-wrapper">
  <%= image_tag "timesheets.svg", :class => "timesheets-img" %>
  <div class="prototype-wrapper">
    <input class="notes-dropdown field field-input" placeholder="Enter a note" name="notes-dropdown">
    <input class="cell" type="text" name="cell1">
  </div>
</div>
