<div class="timesheets-wrapper">
  <%= image_tag "timesheets.svg", :class => "timesheets-img" %>
  <div class="prototype-wrapper">
    <input class="notes-dropdown field field-input hidden" placeholder="Enter a note" name="notes-dropdown">
    <div class="field field-cell">
      <input class="field-input cell" type="text">
      <div class="notes-indicator hidden"></div>
    </div>
  </div>
</div>
