<div class="timesheets-wrapper">
  <%= image_tag "timesheets.svg", :class => "timesheets-img" %>
  <div class="prototype-wrapper">
    <div class="notes-container"></div>
    <script type="text/template" class="notes-template">
      <ul class="notes">
        [% notesLength = notes.length %]
        [% _.each(notes, function(note, index) { %]
          <li class="note">
            <div class="field">
              <div class="wrap">
              [% if (notesLength > 1) { %]
                <span class="duration">[%= note.duration %]</span>
                <span class="timestamp">[%= note.timestamp %]</span>
                <a href="#" class="edit-link">Edit</a>
              [% } %]
                <div class="note-content">[%= note.content %]</div>
              </div>
              <hr>
              [% if (index === (notesLength-1)) { %]
              <div class="wrap add-entry-container">
                <div class="add-entry-form">
                  <label class="field-label-initial" for="field-duration">Duration</label>
                  <input class="field-duration" type="text" id="field-duration" placeholder="0h 00">
                  <span class="duration-difference-prompt"></span>
                  <label class="field-label-initial" for="field-notes">Notes</label>
                  <input class="field-notes" type="text" id="field-notes">
                </div>
                <a href="" class="add-entry-link">Add Entry</a>
              </div>
              [% } %]
            </div>
          </li>
        [% }); %]
        </ul>
    </script>
    <div class="field field-note">
      <input class="notes-dropdown field field-input hidden" placeholder="Enter a note" name="notes-dropdown">
    </div>
    <div class="field field-cell">
      <input class="field-input cell" type="text">
      <div class="notes-indicator hidden"></div>
    </div>
  </div>
</div>
