.cta {
  position: absolute;
  left: 0px;
  top: 75px;
}
#my-btn{
  display: block;
}
.illust {
  position: absolute;
  left: 0px;
  top: 0px;
}
.tbl {
  top: 450px;
  left: 0px;
  position: absolute;
}
