// Multiple Notes Prototype

em {
  font-style:italic;
}

.timesheets-wrapper {
  .field {
    margin-bottom: 0;
  }

  .prototype-wrapper {
    position: absolute;
    top: 565px;
    left: 752px;
    bottom: 0;
    width: 200px;
    height: 37px;
  }

  .timesheets-img {
    width: $contentImageWidth;
  }

  .timeentry-popover {
    position: absolute;
    left: 250px;
    top: 100px;
    width: 342px;
    display: none;
  }
  .cell, .notes-dropdown {
    font-size: 11px;
  }

  .field-cell {
    width: 42px;
  }
  .cell {
    padding: 4px;
    height: 46px;
  }

  .notes-indicator {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid palette(neutral, mid);
    position: absolute;
    right: 2px;
    bottom: 2px;
    transform: rotate(45deg);
  }

  .notes,
  .field-note {
    position: absolute;
    top: -35px;
    opacity: 1;
    width: 100%;
  }

  .notes {
    display: none;
    background-color: $white;
    border: 1px solid palette(neutral, light);

    .wrap {
      padding: 10px;
      margin: 0;
    }

    .edit-link,
    span {
      display: inline-block;
    }
    .edit-link {
      float: right;
    }
    .duration {
      font-size: 15px;
      color: palette(neutral, mid);
    }
    .timestamp {
      margin-left: 5px;
      font-size: 9px;
      color: palette(neutral, mid-dark);
    }
    .note-content {
      margin-top: 5px;
    }
  }

  .duration-difference-prompt {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 35%;

    > a {
      display: block;
      float: right;
      margin-top: 5px;
    }
  }

  .add-entry-form {
    position: relative;
    display: none;

    > label {
      display: block;
      color: palette(neutral, mid-light);
      font-size: 9px;
      margin-bottom: 5px;
    }

    .field-notes,
    .field-duration {
      border: none;
      border-bottom: 1px solid palette(neutral, mid);
      font-size: 18px;
      width: 60px;
    }
    .field-notes {
      width: 100%;
    }
    .field-duration {
      margin-bottom: 10px;
    }
  }
}

.slide-in-up {
  -webkit-animation: slide-in-up .2s forwards;
}
.fade-out {
  -webkit-animation: fade-out .5s forwards;
}

@keyframes slide-in-up {
  0% {
    -webkit-transform: translateY(15px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fade-out {
  100% {
    opacity: 0;
  }
}

//Override browser default with slightly smaller outline (default is 5px)
:focus {
    outline: -webkit-focus-ring-color auto 2px;
}
