@keyframes zoom-in-animation {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1);
  }

  50% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}


@keyframes corner-right-animation {
  0% {
    transform: translate(100%, 110%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

.zoom-in {
  // http://easings.net/#easeInCirc
  -webkit-animation: zoom-in-animation .25s cubic-bezier(0.6, 0.04, 0.98, 0.335) forwards;
}

.corner-right {
  -webkit-animation: corner-right-animation .25s linear forwards;
}


.resource-picker {
  position: absolute;
  top: 200px;
  bottom: 0;
  right: 0;
  left: 0;
}

.ghosted {
  opacity: .4;
}
