
@import "./reset";

// Import what's available from mavenlink-js
@import "core-ui-variables";
@import "core-animation-variables";
@import "styleguide/base/colors/colors";
@import "styleguide/base/typography/options";
@import "styleguide/base/typography/mixins";
@import "styleguide/components/buttons/buttons";
@import "styleguide/components/icons/icons-new";
@import "styleguide/modules/forms/fields";
@import "grids/scss/grids";

* {
  font-family: bernina;
  color: palette(neutral, x-dark);
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  font-style: italic;
  color: palette(neutral, base);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 43px;
}

.sidebar {
  float: left;
  width: 160px;
}

.container {
  float: left;
  margin: 20px;
  position: relative;
  width: 900px;

  &.no-pad {
    margin: 0;
  }
}

.timesheets-wrapper {

  .prototype-wrapper {
    position: absolute;
    top: 615px;
    left: 819px;
    bottom: 0;
    width: 200px;
    height: 46px;
  }

  .timesheets-img {
    width: 1225px;
  }

  .cell, .notes-dropdown {
    font-family: bernina;
    font-size: 11px;
  }

  .cell {
    height: 50px;
    width: 45px;
    padding: 4px;
  }

  .notes-dropdown {
    display: none;
    position: absolute;
    top: -35px;
  }
}


footer {
  clear: both;
}

.wrap {
  margin: 20px;
}
