
@import "./reset";

// Import what's available from mavenlink-js
@import "core-ui-variables";
@import "core-animation-variables";
@import "styleguide/base/colors/colors";
@import "styleguide/base/typography/options";
@import "styleguide/components/icons/icons-new";

$content_image_width: 975px;

header {
  height: 43px;
  > img {
    width: $content_image_width;
  }
}

.sidebar {
  float: left;
  width: 160px;
}

.container {
  float: left;
  margin: 0;
  position: relative;
}

.timesheets-wrapper {

  .timesheets-img {
    width: $content_image_width;
  }

  .prototype-wrapper {
    position: absolute;
    background-color: hotpink;
    top: 480px;
    left: 650px;
    bottom: 0;
    width: 175px;
    height: 50px;
  }
}

footer {
  clear: both;
}

.wrap {
  margin: 20px;
}
